.ui.menu {
  border-radius: 0;
  box-shadow: none;
  background-color: #f0f0f0;
}
.ui.menu .menu {
  border-top:none;
  border-bottom:none;
}
.megamenu {
    background-color: #efefef;
    left: 0;
    right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    position: absolute;
    margin-top: 0;
} 

.megadropdown:hover > .megamenu {
  display: block;
}
.megadropdown:hover > .filler {
  height: 50vh;
}
/* generic styles */
.nomargin {
  margin: 0 !important;
}
.noborder {
  border: 0 !important;
}