container {
  overflow: auto;
}
aside {
  width: 20vw;
  padding-left: 2vw;
  float: left;
}
section {
  width: 60vw;
  padding-left: 2vw;
  float: left;
}
.clear {
  clear: left;
}
.checked {
  color: orange;
}